/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Catamaran", sans-serif;
    color: white;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: "Signika", sans-serif;
  }
}
